.example-spacer {
    flex: 1 1 auto;
  }

a{
  color: white;
  font-size: 13px;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0.5em;
}

.mainOptions{
  margin-left: 40px;
  margin-top: 1px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.activeLink {
  background-color: whitesmoke;
  color: #3f51b5;
}